# Import libraries

In [4]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from PIL import Image
import sys
import cv2

# Import dataset

In [2]:
df = pd.read_csv("../INPUT/data.csv")

In [5]:
print(df.shape)
df.head()

(17570, 13)

,user_id,original_image,face_id,age,check,gender,x,y,dx,dy,tilt_ang,fiducial_yaw_angle,fiducial_score
0,30601258@N03,10424815813_e94629b1ec_o.jpg,2,"(25, 32)",1,m,301,105,640,641,0,0,94
1,30601258@N03,10437979845_5985be4b26_o.jpg,3,"(25, 32)",1,m,752,1255,484,485,180,0,47
2,30601258@N03,11816644924_075c3d8d59_o.jpg,2,"(25, 32)",1,m,175,80,769,768,-75,0,34
3,30601258@N03,10424595844_1009c687e4_o.jpg,4,"(38, 43)",1,f,1912,905,1224,1224,155,0,64
4,30601258@N03,9506931745_796300ca4a_o.jpg,5,"(25, 32)",1,f,1069,581,1575,1575,0,30,131

## Drop columns we won't use

In [6]:
df = df.drop(columns=['check', 'gender', 'x', 'y', 'dx', 'dy', 'tilt_ang', 'fiducial_yaw_angle', 'fiducial_score'])

In [22]:
df.head()

        user_id                original_image  face_id       age
0  30601258@N03  10424815813_e94629b1ec_o.jpg        2  (25, 32)
1  30601258@N03  10437979845_5985be4b26_o.jpg        3  (25, 32)
2  30601258@N03  11816644924_075c3d8d59_o.jpg        2  (25, 32)
3  30601258@N03  10424595844_1009c687e4_o.jpg        4  (38, 43)
4  30601258@N03   9506931745_796300ca4a_o.jpg        5  (25, 32)

# Save images in the corresponding folder of their range age:

In [9]:
def getInfo(df):
    user = list(df['user_id'])
    face = list(df['face_id'])
    image = list(df['original_image'])
    info = zip(user, face, image)
    info_set = set(info)
    return info_set

In [13]:
def getImageList(images):
    lst_im = []
    for u,f,i in images:
        a = (f"../INPUT/faces/{u}/coarse_tilt_aligned_face.{f}.{i}")
        lst_im.append(a)
    return lst_im

In [23]:
def SaveImages(lst_images, folder):
    try:
        for i, pic in enumerate(lst_images):
            img = Image.open(pic)
            img.save(f"../OUTPUT/images/{folder}/image_{i}.jpg")
    except:
        pass
    return f"All images were saved in the folder {folder}"

In [24]:
# Age 0-2:

data0_2 = df[df.age == '(0, 2)']

images = getInfo(data0_2)

lst_images = getImageList(images)

SaveImages(lst_images, '0-2')

'All images were saved in the folder 0-2'

In [25]:
# Age 4-6:

data = df[df.age == '(4, 6)']

images = getInfo(data)

lst_images = getImageList(images)

SaveImages(lst_images, '4-6')

'All images were saved in the folder 4-6'

In [26]:
# Age 8-12:

data = df[df.age == '(8, 12)']

images = getInfo(data)

lst_images = getImageList(images)

SaveImages(lst_images, '8-12')

'All images were saved in the folder 8-12'

In [27]:
# Age 15-20:

data = df[df.age == '(15, 20)']

images = getInfo(data)

lst_images = getImageList(images)

SaveImages(lst_images, '15-20')

'All images were saved in the folder 15-20'

In [28]:
# Age 21-35:

data = df[df.age == '(25, 32)']

images = getInfo(data)

lst_images = getImageList(images)

SaveImages(lst_images, '21-35')

'All images were saved in the folder 21-35'

In [29]:
# Age 36-45:

data = df[df.age == '(38, 43)']

images = getInfo(data)

lst_images = getImageList(images)

SaveImages(lst_images, '36-45')

'All images were saved in the folder 36-45'

In [30]:
# Age 46-59:

data = df[df.age == '(48, 53)']

images = getInfo(data)

lst_images = getImageList(images)

SaveImages(lst_images, '46-59')

'All images were saved in the folder 46-59'

In [31]:
# Age 60-100:

data = df[df.age == '(60, 100)']

images = getInfo(data)

lst_images = getImageList(images)

SaveImages(lst_images, '60-100')

'All images were saved in the folder 60-100'

All good!